.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.Border {
  border: 2px solid;
  padding: 4rem;
  border-radius: 25px;
  box-shadow: 0 0 0.2rem #fff,
              0 0 0.2rem #fff, 
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe, 
              0 0 2.8rem #bc13fe, 
              inset 0 0 1.3rem #bc13fe;
}
.click {
  background-image: linear-gradient(
    to right,
    rgb(63, 120, 235),
    rgb(80, 18, 205),
    blueviolet
  );
  color: white;
  border: none;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.link {
  margin: 5px;
  color: blueviolet;
  text-decoration: none;
}
.link:active {
  color: orangered;
}

body {
  background-color: black;
  color: white;
}

h1 {
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  animation: typing 1.2s forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
